:root {
    --bg-color: #020c1b; //020c1b
    --text-main-color-inactive: rgb(255, 255, 255, 1);
    --text-main-color-active: #00f6ff; //#04c2c9
    --text-main-color: #fff;
    --text-main-private: #b90707;
    --track-bg: #0a192f;
    --main-color: #6d7a94;
    --header-bg: rgba(0, 0, 0, .5);
    --banner-bg: rgba(0, 0, 0, .7);
}
