@import "../../assets/styles/mixins.scss";

.banner {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--banner-bg);
    }

    &__title {
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 40rem;
        width: 100%;
        margin: auto;
        padding: 1.25rem;
        font-size: 2.5rem;
        line-height: 1.25;
        color: var(--text-main-color);
        text-align: center;
        transform: translate(-50%, -50%);
        z-index: 2;

        @include md {
            font-size: 2rem;
        }

        @include sm {
            font-size: 1.25rem;
        }
    }

    &__title_name {
        color: var(--text-main-color-active);
    }
}